{% extends 'base.html.twig' %}


{% block body %}
  <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
          <div class="content-wrapper">
          <section>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#" aria-expanded="false">{{'Users'|trans}}</a></li>
                        <li class=""><a href="/unitsManager" aria-expanded="false">{{'Unit'|trans}}</a></li>
                        <li class=""><a href="/admin/_trans" aria-expanded="false">{{'Translation'|trans}}</a></li>
                    </ul>
                </div>
            </div>
        </section>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>{{'User - New'|trans}}<small>{{'Summary info'|trans}}</small></h1>
          <ol class="breadcrumb">
              <li><a href="/home"><i class="fa fa-dashboard"></i>{{'Home'|trans}} </a></li>
              <li><a href="/newUser">{{'Users'|trans}}</a></li>
              <li class="active">{{'New'|trans}}</li>
          </ol>
    </section>
     <section class="content">
      <div class="nav-tabs-custom">
      <div class="nav-tabs-custom">
          <ul class="nav nav-tabs pull-right">
              <li class=""><a href="/connection">{{'Connection'|trans}}</a></li>
              <li class=""><a href="/loadUser">{{'Load'|trans}}</a></li>
              <li class="active"><a href="/newUser">{{'New'|trans}}</a></li>
          </ul>
       <form class="form-inline" role="form" method="POST" action="/newUser">
        <div class="row style-background">
                {% if errors is defined and errors|length > 0 %}
                    {% for error in errors %}
                        <div class="alert alert-warning alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-warning"></i>{{'Alert'|trans}} !</h4>
                            <span style="color:#ffffff";><strong>{{ error.message }}</strong></span>
                        </div>
                    {% endfor %}
                {% endif %}
                {% for flash_massage in app.session.flashbag.get('Noitce') %}
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-warning"></i>{{'Alert'|trans}} !</h4>
                        <span style="color:#ffffff";><strong>{{flash_massage}}</strong></span>
                    </div>
                {% endfor %}
                {% for flash_massage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-success"></i>{{'Alert'|trans}} !</h4>
                        <span style="color:#ffffff";><strong>{{flash_massage}}</strong></span>
                    </div>
                {% endfor %}
                <div class="form_group has-feedback">
                    <input class="form-control input-radius" id="upper" style="width: 100%; text-transform: uppercase;" type="text" placeholder="User name" name="_name" maxlength="30" value="{{ user_info.getUsernam }}" />
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div><br>
                <div class="form_group has-feedback">
                    <input class="form-control input-radius" style="width: 100%;" type="email" maxlength="40" placeholder="USER MAIL" name="_emailuser" value="{{ user_info.getUsermail }}"/>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div><br>
                <div class="form_group has-feedback">
                    <input class="form-control input-radius" style="width: 100%;" maxlength="20" type="password" placeholder="Password" name="_pass" minlength="0">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div><br>
                <div class="form_group has-feedback">
                    <input class="form-control input-radius" style="width: 100%;" maxlength="20" type="password" placeholder="Confirm Password" name="_repass">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div><br>
                

                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">

                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-flat margin buttons pull-right">
                            <i class="fa fa-btn fa-user"></i> {{'Save'|trans}}
                        </button>
                    </div>
                    <!-- /.col -->
                </div>
              </div>
            </form>
     </section>
        </div>
  </body>

{% endblock %}